* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 80%;
    margin: 0 auto;
}

.error {
    padding: 15px;
    background-color: indianred;
    color: white;
    font-weight: bold;
}

.container {
    margin-top: 10px;
}